@import "./calendar.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

/*********************************
    Retirar setas do campo number
***********************************/
/* Chrome, Safari, Edge, Opera */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

/***************************************
   Customização da scroll-bar (cross-browser)
****************************************/
/* Chrome, Edge (Chromium) e Safari */
.scrollbar-custom::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

/* Track (fundo da barra) */
.scrollbar-custom::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
    cursor: default;
}

/* Track — tema escuro */
.dark .scrollbar-custom::-webkit-scrollbar-track {
    background: #a0aec0; /* cinza bem escuro */
    border-radius: 10px;
    cursor: default;
}

/* Thumb (o "polegar") */
.scrollbar-custom::-webkit-scrollbar-thumb {
    background-color: #a0aec0; /* claro */
    border-radius: 10px;
    cursor: default;
}

/* Thumb — tema escuro */
.dark .scrollbar-custom::-webkit-scrollbar-thumb {
    background-color: #6b788e; /* cinza-azulado médio-escuro */
    border-radius: 10px;
    cursor: default;
}

/* Hover (efeito ao passar o mouse) */
.scrollbar-custom::-webkit-scrollbar-thumb:hover {
    background-color: #8a99b0;
}

/* Hover — tema escuro */
.dark .scrollbar-custom::-webkit-scrollbar-thumb:hover {
    background-color: #5d697e; /* um pouco mais claro pra destacar */
}

/* Esconder setas (botões) no WebKit */
.scrollbar-custom::-webkit-scrollbar-button {
    display: none;
    width: 0;
    height: 0;
}

/* Firefox */
@-moz-document url-prefix() {
    .dark .scrollbar-custom {
        scrollbar-width: auto;
        scrollbar-color: #4a5560 #2d3748; /* thumb e track */
    }
}

/* Oculta a barra de rolagem visualmente */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}
.no-scrollbar {
    -ms-overflow-style: none; /* IE e Edge */
    scrollbar-width: none; /* Firefox */
}

/**********************************
   Formatação de tabelas: moldura
***********************************/
.rounded-table-wrapper {
    position: relative;
    border-radius: .375rem;
    overflow: hidden;
}
.rounded-table-wrapper .overlay {
    position: absolute;
    inset: 0;
    border-radius: inherit;
    pointer-events: none;
    box-shadow: inset 0 0 0 1px #d1d5db;
    transition: ease-in-out;
    transition-duration: 0.150s;
}
.dark .rounded-table-wrapper .overlay {
    position: absolute;
    inset: 0;
    border-radius: inherit;
    pointer-events: none;
    box-shadow: inset 0 0 0 1px #6b7280;
    transition: ease-in-out;
    transition-duration: 0.150s;
}

/***************************
   Formatação dos selects
****************************/
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: none;
    line-height: normal; /* mantém proporção original */
}

select::-ms-expand {
    display: none;
}

/***************************
   Formatação dos inputs
****************************/
.dark input[type="date"]::-webkit-calendar-picker-indicator {
    filter: brightness(0) invert(0.85); /* deixa branco */
    cursor: pointer;
}

.dark input[type="time"]::-webkit-calendar-picker-indicator {
    filter: brightness(0) invert(0.85); /* deixa branco */
    cursor: pointer;
}


/******************************************************
    Autofill com um tom branco levemente amarelado.
    Caso haja problemas futuros, é possível definir
    chave light também, e outras.
    OBS: No caso de senha salva é comum que o navegador
    insira um highlight no input, se for uma cor muito
    clara estoura o tema dark
 ******************************************************/
.dark input:-webkit-autofill,
.dark input:-webkit-autofill:hover,
.dark input:-webkit-autofill:focus,
.dark input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 100px #fff176 inset !important; /* amarelo mais claro */
    -webkit-text-fill-color: #111827 !important; /* texto escuro */
    caret-color: #111827 !important;                           /* cursor */
    border-color: #374151 !important;                          /* gray-700 */
    transition: -webkit-box-shadow 150ms ease-in-out,
    -webkit-text-fill-color 150ms ease-in-out !important;
}
