@import "./calendar.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}
:root {
    --primary-blue: #1E3A5F;
    --secondary-blue: #3B5D82;
    --primary-orange: #C75B12;
    --secondary-orange: #E07B3C;
    --neutral-dark: #2D2D2D;
    --neutral-light: #B0B0B0;
}

:root {
    --primary-color: #2563eb;
    --secondary-color: #1e40af;
    --accent-color: #3b82f6;
    --dark: #1f2937;
    --light: #6b7280;
    --shadow: #ccc;
}
/*******************
    FULLCALENDAR
********************/
@media(min-width: 640px){
    /* Customização do link de paginação */
    nav[role="navigation"] > div {
        flex-direction: column;
        align-items: center;
    }
}
/**********************************
    Retirar setas do campo number
***********************************/
/* Chrome, Safari, Edge, Opera */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

/***************************************
    Customização da scroll-bar
****************************************/
/* Funciona no Chrome, Edge e Safari */
.scrollbar-custom::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

.scrollbar-custom::-webkit-scrollbar-track {
    background: #f1f1f1; /* cor da trilha */
    border-radius: 10px;
}

.scrollbar-custom::-webkit-scrollbar-thumb {
    background-color: #a0aec0; /* cor do "polegar" (scroll) */
    border-radius: 10px;
    border: 2px solid #f1f1f1;
}

/* Firefox */
.scrollbar-custom {
    scrollbar-width: thin;              /* 'auto' | 'thin' | 'none' */
    scrollbar-color: #a0aec0 #f1f1f1;   /* thumb | track */
}
