@import "./calendar.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

:root {
    --primary-color: #2563eb;
    --secondary-color: #1e40af;
    --accent-color: #3b82f6;
    --text-dark: #1f2937;
    --text-light: #6b7280;
    --shadow: #ccc;
}
/* Customização do link de paginação */
 nav[role="navigation"] > div {
     flex-direction: column;
     align-items: center;
 }

nav[role="navigation"] .relative.inline-flex.items-center {
    background-color: #2563eb; /* azul */
    color: #ffffff;
    border:none;
}

nav[role="navigation"] .relative.inline-flex.items-center:hover {
    background-color: #1e40af; /* azul escuro no hover */
    color: #ffffff;
}

